.iostream::after {
    content: ">";
}

.iostream::before {
    content: "<";
}

.cout::after {
    content: " <<";
}

#navbar {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 10px;
    padding: 1px;
    flex-wrap: nowrap;
    width: 23%;
    border-right: 3px solid grey;
    border-left: 3px solid grey;
    position: static;
    top: 0;
    left: 0;

}

#navbar header {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 30px;
}

#navbar a {
    text-decoration: none;
    color: grey;
    padding-bottom: 30px;
    border-top: 2px solid grey;
    text-align: center;
    top: 0;
    left: 0;

}

#navbar a:visited {
    color: grey;
}

.container {
    display: flex;
    flex-direction: row;

}

#main-doc {
    margin: 15px;
    padding: 15px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.main-section header {
    font-size: 1.4rem;
    font-weight: bold;

}

.main-section code {
    background-color: bisque;
}

@media (max-width:750px) {
    #main-doc{
        margin-top: 30rem;
    }
    #navbar header {
        margin-bottom: 1rem;
    }


    #navbar ul {
        height: 90%;
        width: 100%;
    }

    #navbar {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        z-index: 1;
        border: 1px solid #f2f2f2;
    }

}

